html{
  min-height: 100%;
  }
   body {
      background-image: url("../public/ivan-torres-AXz346Rhs6A-unsplash.jpg");
      background-color: #cccc;
      background-size: cover;
      background-repeat: no-repeat;
   }
  
  .maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .h1Title {
    font-size: 3.5em;
    text-wrap: nowrap;
  }
  
  .reactLogo{
    width: 15%;
    height: 15%;
    padding: 2em;
  }
  
  .list{
    font-size: x-large;
    font-weight: bold;
  }